* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: grey; 
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}
.flex-container{
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    
}
.flex-box{
    height: 300px; 
    background: #fff;
    border-radius: 10px;
    margin: 5px;
    position: relative;
}
.flex-box1{
   width: 50%;
   position: absolute;
   left: 10px;
}
.flex-box2{
    width: 50%;
    position: absolute;
    right: 350px;
    top: -70px;
 }


/* login style */
.new-user {
  background: #fff;
  padding: 50px 40px;
  max-width: 50%;
  margin: 30px;
}
h2 {
  text-align: center;
  color: #555;
}

label,
input {
  display: block;
  margin: 10px 0;
}
label {
  color: #777;
}

input[type="text"],
input[type="email"] {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
input[type="submit"] {
  margin: 24px auto;
  font-size: 18px;
  background: coral;
  color: #fff;
  padding: 6px 16px;
  border-radius: 10px;
}

/* table style */
.table {
  background: #fff;
  padding: 50px 90px;
  max-width: 70%;
  margin: 100px;
  
}
.st_viewport {
  max-height: 500px;
  overflow: auto;
}
._id {
  min-width: 80px;
}
._username {
  min-width: 130px;
}
._email {
  min-width: 150px;
}

/* Sticky table styles */
.st_viewport {
  background: #fff;
  color: rgb(27, 30, 36);
  margin: 20px 0;
  padding: auto;
}

/* ##   header */
.st_table_header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgb(27, 30, 36);
  color: rgb(220, 220, 220);
}
.st_table_header h2 {
  font-weight: 400;
  margin: 0 20px;
  padding: 20px 0 0;
}
.st_table_header .st_row {
  color: rgba(220, 220, 220, 0.7);
}

/* ##  table */
.st_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* #   row */
.st_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.st_table .st_row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
/* #   column */
.st_column {
  padding: 10px 20px;
}

/* mobile size */
@media screen and (min-width: 620px){
    .flex-container{
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .flex-box{
        height: 330px; 
        background: #fff;
        border-radius: 10px;
        margin: 5px;
        position: relative;
    }
    .flex-box1{
       width: 100%;
       position: absolute;
       left: 245px;
    }
    .flex-box2{
        width: 50%;
        position: absolute;
        right: 380px;
        top: 410px;
    }

    .table {
        background: #fff;
        padding: 50px 15px;
        max-width: 100%;
        margin: 70px;
    }
}

/* ipad size */
@media screen and (min-width: 990px){
    .flex-container{
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .flex-box{
        height: 350px; 
        background: #fff;
        border-radius: 10px;
        margin: 5px;
        position: relative;
    }
    .flex-box1{
       width: 50%;
       position: absolute;
       left: 10px;
    }
    .flex-box2{
        width: 50%;
        position: absolute;
        right: 210px;
        top: -25px;
    }

    .table {
        background: #fff;
        padding: 80px 15px;
        max-width: 100%;
        margin: 30px; 
    }

}

/* laptop size */
@media screen and (min-width: 1200px){
    .flex-container{
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .flex-box{
        height: 300px; 
        background: #fff;
        border-radius: 10px;
        margin: 5px;
        position: relative;
    }
    .flex-box1{
       width: 50%;
       position: absolute;
       left: 10px;
    }
    .flex-box2{
        width: 50%;
        position: absolute;
        right: 220px;
        top: 0px;
     }

}